:root {
    --disabled: #eee;
    /* --yellow: #f4df36cc; */
    --yellow: #f8e437;
    --blue: #3B62A3;
    --red: #d24a4a;
    --orange: #ffc107;
    --green: #3d7260;
    --screen:calc(90vmin);
}

*:disabled {
    background-color: var(--disabled);
    opacity: .5;
    cursor: not-allowed;
}

body {
    text-align: center;
    font-size: 14pt;
    overflow: hidden;
}

select {
    min-width: 6vmin;
    height: 2.88vmin;
}

.container {
    width: var(--screen);
    height: var(--screen);
    padding: 1.8vmin;
    margin: auto;
    /* background-color: var(--yellow); */
    background: url('images/Wood_background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
}

div[class^='circle'],
div[class*='circle'] {
    border-radius: 50%;
}

div[class^='blue'],
div[class*='blue'] {
    background-color: var(--blue);
}

div[class^='red'],
div[class*='red'] {
    background-color: var(--red);
}

div[class^='orange'],
div[class*='orange'] {
    background-color: var(--yellow);
}

div[class^='green'],
div[class*='green'] {
    background-color: var(--green);
}

.circle-position {
    border: 2px solid darkgray;
    background-color: white;
    width: 7.2vmin;
    height: 7.2vmin;
    box-shadow: 5px 5px 4px #888;
}

.circle-large {
    width: 20.4vmin;
    height: 20.4vmin;
    text-align: center;
    box-shadow: 5px 5px 4px #888;
}

.circle-outside-container {
    position: relative;
    top: 3.24vmin
}

.circle-outside {
    display: inline-block;
    background-color: #d2d2d2;
    width: 6vmin;
    height: 6vmin;
    margin: 0.36vmin;
}

.circle-blue {
    background-color: var(--blue);
}

.circle-red {
    background-color: var(--red);
}

.circle-orange {
    background-color: var(--yellow);
}

.circle-green {
    background-color: var(--green);
}

td.red {
    transform: rotate(90deg);
}

td.orange {
    transform: rotate(270deg);
}

td.green {
    transform: rotate(180deg);
}

.arrow {
    width: 12vmin;
    position: relative;
    top: 3vmin;
}



.line {
    margin-top: 1.8vmin;
    width: 8.4vmin;
    height: 1.2vmin;
    float: left;
}

.point {
    width: 0;
    height: 0;
    border-top: 2.4vmin solid transparent;
    border-bottom: 2.4vmin solid transparent;
    float: right;
}

.red .line {
    background: var(--red);
}

.blue .line {
    background: var(--blue);
}

.orange .line {
    background: var(--yellow)
}

.green .line {
    background: var(--green)
}

.red .point {
    border-left: 3.6vmin solid var(--red)
}

.blue .point {
    border-left: 3.6vmin solid var(--blue);
}

.orange .point {
    border-left: 3.6vmin solid var(--yellow)
}

.green .point {
    border-left: 3.6vmin solid var(--green)
}

.final-step {
    border: 2px solid #444444;
    width: 6.6vmin;
    height: 6.6vmin;
    text-align: center;
    margin: auto;
}

.start-step {
    border: 2px solid #444444;
}

.piece-container {
    position: absolute;
    width: 6vmin;
    background-color: #00000045;
    border-radius: 50px;
    cursor: pointer;
}

.piece-container img {
    width: inherit;
}

.dice {
    width: 7.2vmin;
}

.dice button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.dice img {
    width: 6vmin;
    border-radius: 12px;
}

.color-picker {
    width: 2.4vmin;
    height: 2.4vmin;
    border: black solid 1px;
    display: inline-block;
    margin: 5px;
    text-align: center;
}

.color-picker input {
    margin: 4px auto;
}

.player-details {
    display: flex;
}